/*
 * BASICS
 */

body {
    margin: 1.0em;
    text-align: center;
    overflow: hidden;
    /* Web Font */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

p {
    margin: 1.0em;
}

#category p,
#purpose p {
    color: #888888;
}

/*
 * PAGE BUTTONS
 */

#clipboard-input {
    position: absolute;
    top: -999px;
}

#page-button-panel {
    position: absolute;
    bottom: 1.0em;
    width: 100%;
    left: 50%;
    margin-left: -50%;
}

.page-button {
    width: 8em;
    height: 3em;
    background-color: #888888;
    border: none;
    color: #FFFFFF;
    padding: 1.0em 1.0em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2.5em;
}

.page-button:hover {
    background-color: #3DA8C5;
    cursor: pointer;
}

/*
 * FONT SIZES
 */

#category p {
    font-size: 125%;
}

#prompt p {
    font-size: 250%;
}

#purpose p {
    font-size: 125%;
}

.page-button {
    font-size: 125%;
}

@media only screen and (max-device-width: 480px) {
    #category p {
        font-size: 225%;
    }

    #prompt p {
        font-size: 450%;
    }


    #purpose p {
        font-size: 225%;
    }

    .page-button {
        font-size: 300%;
    }
}